flows/Check_to_see_if_commit_has_apex.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Count_apex</name>
        <label>Count apex</label>
        <locationX>374</locationX>
        <locationY>528</locationY>
        <assignmentItems>
            <assignToReference>Countofapex</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Filter_user_story_metadata</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_there_apex_in_commit</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_user_story_metadata</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter user story metadata</label>
        <locationX>374</locationX>
        <locationY>408</locationY>
        <assignNextValueToReference>currentItem_Filter_user_story_metadata</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_User_Story_Metadata</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_user_story_metadata.copado__Metadata_API_Name__c</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <stringValue>Apex</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Count_apex</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Is_there_apex_in_commit</name>
        <label>Is there apex in commit</label>
        <locationX>374</locationX>
        <locationY>648</locationY>
        <defaultConnector>
            <targetReference>No_Apex</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Apex</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Countofapex</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_User_Story</targetReference>
            </connector>
            <label>Has Apex</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Check to see if commit has apex {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Check to see if commit has apex</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_User_Story_Metadata</name>
        <label>Get User Story Metadata</label>
        <locationX>374</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Filter_user_story_metadata</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>copado__User_Story__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.copado__User_Story__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>copado__Last_Commit_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>copado__User_Story_Metadata__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>No_Apex</name>
        <label>No Apex</label>
        <locationX>506</locationX>
        <locationY>768</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.copado__User_Story__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Latest_Commit_Contains_Apex__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>copado__User_Story__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_User_Story</name>
        <label>Update User Story</label>
        <locationX>242</locationX>
        <locationY>768</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.copado__User_Story__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Latest_Commit_Contains_Apex__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>copado__User_Story__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <object>copado__User_Story_Commit__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>X1_minute_after</name>
            <connector>
                <targetReference>Get_User_Story_Metadata</targetReference>
            </connector>
            <label>1 minute after</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Countofapex</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>currentItem_Filter_user_story_metadata</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>copado__User_Story_Metadata__c</objectType>
    </variables>
</Flow>
