flows/Copado_Promotion_and_Deployment_Records_Clean_Up_Scheduled_flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_Deployments_to_Collection</name>
        <label>Assign Deployments to Collection</label>
        <locationX>528</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>varDeploymentIDcollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_Deployment_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Deployment_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Record_Counter</name>
        <label>Increment Record Counter</label>
        <locationX>1056</locationX>
        <locationY>1200</locationY>
        <assignmentItems>
            <assignToReference>varRecordCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Job_Records_associated_with_Step_Records</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Are_there_deployment_records</name>
        <label>Are there deployment records?</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <defaultConnector>
            <targetReference>Iterate_Deployment_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_All_Deployment_Records</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Record_update_Checkpoint_reached</name>
        <label>Is Record update Checkpoint reached</label>
        <locationX>924</locationX>
        <locationY>1092</locationY>
        <defaultConnector>
            <targetReference>Increment_Record_Counter</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRecordCounter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Update_Promotion_Status</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verify_Deployment_Step_record_check</name>
        <label>Verify Deployment Step record check</label>
        <locationX>440</locationX>
        <locationY>876</locationY>
        <defaultConnector>
            <targetReference>Iterate_Deployment_Step_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Records exist</defaultConnectorLabel>
        <rules>
            <name>No_Records_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Deployment_Step_Records</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Update_Promotion_Status</targetReference>
            </connector>
            <label>No Records exists</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Cleanup_Criteria</name>
        <dataType>DateTime</dataType>
        <expression>NOW() - 21</expression>
    </formulas>
    <interviewLabel>Copado_Promotion_and_Deployment_Records_Clean_Up_Scheduled_flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Copado_Promotion_and_Deployment_Records_Clean_Up_Scheduled_flow</label>
    <loops>
        <name>Iterate_Deployment_Records</name>
        <label>Iterate Deployment Records</label>
        <locationX>440</locationX>
        <locationY>468</locationY>
        <collectionReference>Get_All_Deployment_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Deployments_to_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Deployment_Step_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_Deployment_Step_Records</name>
        <label>Iterate Deployment Step Records</label>
        <locationX>704</locationX>
        <locationY>984</locationY>
        <collectionReference>Get_Deployment_Step_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Record_update_Checkpoint_reached</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Promotion_Status</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Deployment_Records</name>
        <label>Get All Deployment Records</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_there_deployment_records</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3</filterLogic>
        <filters>
            <field>copado__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </filters>
        <filters>
            <field>copado__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In progress</stringValue>
            </value>
        </filters>
        <filters>
            <field>LastModifiedDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>Cleanup_Criteria</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>copado__Deployment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Deployment_Step_Records</name>
        <label>Get Deployment Step Records</label>
        <locationX>440</locationX>
        <locationY>768</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Verify_Deployment_Step_record_check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>copado__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed Successfully</stringValue>
            </value>
        </filters>
        <filters>
            <field>copado__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed with Errors</stringValue>
            </value>
        </filters>
        <filters>
            <field>copado__Deployment__c</field>
            <operator>In</operator>
            <value>
                <elementReference>varDeploymentIDcollection</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>copado__Step__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Job_Records_associated_with_Step_Records</name>
        <label>Update Job Records associated with Step Records</label>
        <locationX>1056</locationX>
        <locationY>1308</locationY>
        <connector>
            <targetReference>Iterate_Deployment_Step_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>copado__Step__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Iterate_Deployment_Step_Records.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>copado__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </filters>
        <filters>
            <field>copado__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>copado__Status__c</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <object>copado__Deployment_Job__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Promotion_Status</name>
        <label>Update Promotion Status</label>
        <locationX>440</locationX>
        <locationY>1668</locationY>
        <filterLogic>(1 OR 2) AND 3</filterLogic>
        <filters>
            <field>copado__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </filters>
        <filters>
            <field>copado__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </filters>
        <filters>
            <field>LastModifiedDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>Cleanup_Criteria</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>copado__Status__c</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <object>copado__Promotion__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_All_Deployment_Records</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-01-01</startDate>
            <startTime>00:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varDeploymentIDcollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRecordCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
