flows/SCAafterCommit.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>User_Story_Static_Code_Analysis</name>
        <label>User Story Static Code Analysis</label>
        <locationX>242</locationX>
        <locationY>384</locationY>
        <actionName>copado__RunUserStoryStaticCodeAnalysis</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>orgId</name>
            <value>
                <elementReference>$Record.copado__User_Story__r.copado__Environment__r.copado__Org_ID__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>storyId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>copado__RunUserStoryStaticCodeAnalysis</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>Is_there_code</name>
        <label>Is there code?</label>
        <locationX>374</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Apex</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.copado__User_Story__r.copado__Has_Apex_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>User_Story_Static_Code_Analysis</targetReference>
            </connector>
            <label>Has Apex</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>SCAafterCommit {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SCAafterCommit</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <object>copado__User_Story_Commit__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Delay</name>
            <connector>
                <targetReference>Is_there_code</targetReference>
            </connector>
            <label>Delay</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>LastModifiedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
